<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Archetype Created Web Application</display-name>

    <description>?</description>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_VIEW_MAPPINGS</param-name>
        <param-value>*.xhtml</param-value>
    </context-param>

    <servlet>
        <servlet-name>faces</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>faces</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <!-- Security -->
    <listener>
        <listener-class>at.sheldor5.tr.web.init.Security</listener-class>
    </listener>

    <security-constraint>
        <display-name>Users Security Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>/home</web-resource-name>
            <description/>
            <url-pattern>/home/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>User</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Controller Security Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>/controller</web-resource-name>
            <description/>
            <url-pattern>/controller/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Controller</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Admins Security Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>/admin</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>

        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description/>
        <role-name>User</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>Controller</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>Admin</role-name>
    </security-role>

    <!--
    <listener>
        <listener-class>se.jiderhamn.classloader.leak.prevention.ClassLoaderLeakPreventionContainerInitializer</listener-class>
    </listener>
    <listener>
        <listener-class>at.sheldor5.tr.web.init.Configuration</listener-class>
    </listener>
    <listener>
        <listener-class>at.sheldor5.tr.web.init.ConnectionPool</listener-class>
    </listener>
    <listener>
        <listener-class>at.sheldor5.tr.web.init.Plugins</listener-class>
    </listener>
    <listener>
        <listener-class>at.sheldor5.tr.web.init.Rules</listener-class>
    </listener>
    -->

</web-app>
