.nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.error {
    font-weight: bold;
    color: #ff0000;
}